@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#topNav {
    width: 100%;
    height: 100vh;
    background-color: #DEDEDE;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
    margin-left: 13%;
    margin-right: 13%;
}

nav ul {
    display: flex;
}

.toggle {
    display: none;
}

nav ul li a {
    margin: 30px;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.logo {
    height: 50px;
    width: 50px;
    padding: 1%;
}

.active {
    color: #2d2a2a;
    font-weight: bold;
}

.hero {
    height: 530px;
    position: absolute;
    bottom: 40px;
    left: 40%;
    opacity: 0.5;
}

.text-container>p {
    font-size: 50px;
    font-weight: bold;
    margin: 45px 0px 25px;
    letter-spacing: 1px;
    line-height: 1.15em;
    color: #454545;
}

.text-container {
    position: absolute;
    left: 13%;
    top: 25%;
    transform: translate(25% 25%);
    width: 65%;
}

.down-resume {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 150px;
    height: 60px;
    border-radius: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    margin: 0px;
    padding: 4px 4px;
    background-color: #0B0B0B;
    color: #fff;
    cursor: pointer;
    /* border: none; */
}

button:active {
    transform: scale(1.1);
}

.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

footer {
    margin-left: 25%;
    margin-right: 25%;
}

#icons {
    margin: 12px;
}

.myWork {
    margin-left: 13%;
    margin-right: 13%;
}

.work {
    width: 640px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
}

.tinytails {
    position: absolute;
    width: 50px;
}

#tiny-tails {
    background-color: #BCBAE3;
}

.description {
    left: 25px;
}

#grocery-mate {
    background-color: #B2C8B2;
}


/* @media only screen and (max-width:600) {

} */