.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 1200px;
    margin-top: 0;
    margin-left: 13%;
    margin-right: 13%;
    grid-gap: 32px;
    grid-template-areas: "uxuiskills frontEnd" "tools";
}

.skillsIntro {
    margin-right: 13%;
    margin-left: 13%;
}

.gridbox {
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: grid;
}

.gridbox h2 {
    margin-left: 38px;
}


/* #uxuiskills {
    grid-area: uxuiskills;
}

#fronEnd {
    grid-area: frontEnd;
}

#tools {
    grid-area: tools;
} */

@media only screen and (max-width:600) {
    .gridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
        grid-template-areas: "uxuiskills" "frontEnd" "tools";
    }
}